body {
    font-family: sans-serif;
}

.link-header {
    text-decoration: none;
    background-color: blueviolet;
    color: white;
    padding: 5px;
    box-shadow: 5px 5px 0 0 brown ;
}

.link-header:hover {
    color: red;
    background-color: bisque;
    box-shadow:  5px 5px 0 0 blue;
}

h1 {
    text-align: center;
    color: #1D7373;
}

ul {
    margin-left: 
}

h1:hover {
    color: navy;
    transition: 3s all linear;
    
}

